@media screen and (max-width: 767px){
    .container{
        width: 500px;
    }
    .promo__inner {
        gap: 50px;
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
      }
      .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #fff;
        margin-bottom: 2px;
        transition: 0.5s all;
      }
      .hamburger_active span {
        margin-bottom: -2px;
      }
      .hamburger_active span:nth-child(1) {
        transform: translateY(3px);
        transform: rotate(-45deg);
      }
      .hamburger_active span:nth-child(2) {
        display: none;
      }
      .hamburger_active span:nth-child(3) {
        transform: translateY(3px);
        transform: rotate(45deg);
      }
      .menu {
        display: none;
      }
      .menu_active {
        display: block;
        position: absolute;
        top: 100px;
        right: 0;
        z-index: 10;
        width: 100vw;
        background: $color-5;
        padding: 30px;

      }
      .menu_active .menu__link {
        
        color: $color-6;
        &:hover{
            color: $color-1;
        }
      }
      .menu_active .menu__item{
        justify-content: center;
        margin-top: 30px;
      }
      .scheme {
        gap: 5px;
      }
      .select-selected-bottom-rounded{
        width: 500px;
    }
    .select-items{
        width: 500px;
    }
    .input {
        width: 100%;
    }
    .progress-container .slider{
        width: 500px;
    }
    .input__file {
        width: 230px;
    }
    .input__file-button {
        width: 230px;
    }
    .button_form{
        width: 230px;
    }
    .form__inner {
        align-items: flex-end;
    }
    .footer__inner {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        gap: 15px;
        flex-direction: column-reverse;
    }
}