$color-1:rgba(66, 169, 237, 1);
$color-2:rgba(255, 255, 255, 1);
$color-3:rgba(187, 187, 187, 1);
$color-4:rgba(255, 255, 255, 0.85);
$color-5:rgba(111, 109, 123, 1);
$color-6:rgba(0, 0, 0, 1);
$color-7:rgba(40, 102, 144, 1);