.form{
    &__inner{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
        gap: 30px;
    }
}
.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 5px;
    color: #272733;
    width: 370px;
    height: 48px;

    background: $color-4;
    border: 1px solid $color-2;
    border-radius: 3px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    &::placeholder{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #272733;
    }
    &__file {
        opacity: 0;
        visibility: hidden;
    }
    &__file-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 5px;

        width: 370px;
        height: 48px;

        background: $color-2;
        border: 1px solid $color-1;
        border-radius: 3px;

        position: absolute;
        top: 0;
        cursor: pointer;
      }
}

.input-wrapper {
        position: relative;
        text-align: center;
}